*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
}

    
.contact input{
    width: 500px;
    height: 40px;
    border: white solid;
    background-color: aliceblue;
}

.an{
    text-decoration: none;
    border: white solid;
    background-color: blue;
    color: white;
    border-radius: 40px;

}

.contact h1{
    font-size: 20px;
    color: blue;
}

.contact textarea{
    border: white solid;
    background-color: aliceblue;
    width: 500px;
    height: 100px;
}