*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: blue;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;

}
.nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero{
    background-color: aliceblue;
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 50px;
}
.text{
    width: 50%
}
.text button{
    background-color: blue;
    font-size: 15px;
    color: white;
    padding: 8px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px;
    border: solid blue ;
}
.text h2{
     font-size: 32px;
    margin-bottom: 15px;
}

.image{
    display: flex;
    width: 300px;
    height: 300px;
}

.image img{
    border-radius: 200%
}

.nav a:hover{
    text-decoration: underline;
}

span{
    color: red;
    font-size: 50px;
}

.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.card{
    width: 250px;
    border: solid 5px blue;
    margin-left: 5px;
    padding: 15px;
    text-align: center;
    background-color: white;
}
.ab{
    width: 240px;
    height: 100px;
    border: blue 5px solid;
    margin-left: 5px;
    padding-bottom: 15px;
    text-align: center;
    background-color: white;
}

.footer{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
}








